@font-face {
font-family: 'HelveticaBold';
src: url("../fonts/HelveticaBold.otf") format("opentype");
}

@font-face {
font-family: 'HelveticaRegular';
src: url("../fonts/HelveticaRegular.otf") format("opentype");
}

@font-face {
font-family: 'HelveticaLight';
src: url("../fonts/HelveticaLight.otf") format("opentype");
}

@font-face {
font-family: 'HelveticaUltraLight';
src: url("../fonts/HelveticaUltraLight.otf") format("opentype");
}

@font-face {
font-family: 'HelveticaThing';
src: url("../fonts/HelveticaThing.otf") format("opentype");
}


/* ============================================================
  GLOBAL
============================================================ */

.secondPart{
  margin-top: -5px;
}

.effects {
  padding-left: 0px;
}

.tumbnhail{
  margin-left: 0px !important;
  width: 100% !important;
  margin-bottom: 0px !important;
}
.destacada{
  width: 40% !important;
  width: 102%;
  margin-left: -1px;
}

.imgThumbnail{
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 20%;
  overflow: hidden;
}

.effects .imgNoticia {
  position: relative;
  float: left;
  width: 20%;
  overflow: hidden;
}

.effects .imgNoticia:nth-child(n) {
  margin-right: 0px;
}
.effects .imgNoticia:first-child {
}
.effects .imgNoticia:last-child {
  margin-right: 0;
}
.effects .imgNoticia img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}



.effects .imgNoticiaCalendario{
  position: relative;
  float: left;
  width: 50%;
  overflow: hidden;
}
.effects .imgNoticiaCalendario2{
  position: relative;
  float: left;
  width: 50%;
  overflow: hidden;
}
.effects .imgNoticiaCalendario3{
  position: relative;
  float: left;
  width: 50%;
  overflow: hidden;
}
.effects .imgNoticiaCalendario4{
  position: relative;
  float: left;
  width: 50%;
  overflow: hidden;
}

.effects .imgNoticiaCalendario:nth-child(n) {
  margin-right: 0px;
}
.effects .imgNoticiaCalendario:first-child {
  margin-left: 0px;
}
.effects .imgNoticiaCalendario:last-child {
  margin-right: 0;
}
.effects .imgNoticiaCalendario img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  max-height:283px;
}

.effects .imgNoticiaCalendario2 img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}
.effects .imgNoticiaCalendario3 img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}
.effects .imgNoticiaCalendario4 img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.tituloCalendario{
  float: right;
  bottom: 0px;
  padding-top: 81px;
  padding-right: 14px;
  font-size: 0.7em;
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-family:'HelveticaBold'
}

.tituloCalendario span{
    font-weight: bold;
}


.overlayTituloNoticiaThumblair{
  display: block;
  position: absolute;
  z-index: 5;
  background: url(../../images/nuevosArtes/Noticias/image_news1_Backwhite.png);
  background-size: 100%;
  overflow: hidden;
  width: 102%;
  margin-left: -1px;
  bottom: 0;
}
 

.overlayTituloNoticiaThumblair h6{
  width: 90%;
  padding-top: 15px;
  margin: auto;
  text-align: center;
  font-size: 0.5em;
  font-family: 'HelveticaBold',arial !important;
  color: #606060;
}



.overlayTituloNoticiaDestacado{
  display: block;
  position: absolute;
  z-index: 5;
  background: url(../../images/nuevosArtes/Noticias/image_news1_Backwhite.png);
  background-size: 100%;
  overflow: hidden;
  width: 102%;
  margin-left: -1px;
  bottom: 0;
}
 

.overlayTituloNoticiaDestacado h6{
  width: 90%;
  padding-top: 35px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
  font-size: 0.8em;
  font-family: 'HelveticaBold',arial !important;
  color: #606060;
}


.overlayTituloNoticia {
  display: block;
  position: absolute;
  z-index: 5;
  background: url(../../images/nuevosArtes/Noticias/image_news1_Backwhite.png);
  background-size: 100% 101%;
  overflow: hidden;
  width: 102%;
  margin-left: -1px;
  bottom: 0;
}

.overlayTituloCalendario {
  display: block;
  position: absolute;
  z-index: 1;
  background: rgba(243, 244, 243, 0.95);
  background-size: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 283px;
  text-align: center;
  font-family: 'HelveticaRegular',arial;
}
.notcal:hover .overlayCalendario22,.not-pinocho:hover .overlayCalendario22 {display:inherit !important}
.overlayCalendario22 {
  position: absolute;
  z-index: 5;
  background: rgba(243, 244, 243, 0.95);
  background-size: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 283px;
  text-align: left;
  font-family: 'HelveticaRegular',arial;
top:0;
padding-top:36%;
padding-left:6px;
}
.img-link-cal{width: 32px !important;position: relative;left: 42%;margin-top: 10px !important;}
.tituloCalendario2{  
  bottom: 0px;
  padding-top: 81px;
  padding-right: 7px;
  font-size: 0.9em;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family:'HelveticaBold'
 }
.overlayTituloCalendario p{
  text-align: center;
  margin-top: 30%;
  font-family:'HelveticaMedium', arial;
  padding:4px;
}

.overlayTituloCalendario img{
  width: 20%;
  margin:auto !important;
}


.overlayTituloNoticia h6{
  width: 90%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
  font-size: 0.8em;
  font-family: 'HelveticaMedium',arial !important;
  color: #606060;
}

.overlayNoticia {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(243, 215, 3, 0.86);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.overlayCalendario{
   display: block;
  position: absolute;
  z-index: 20;
  background: url(../../images/nuevosArtes/calendario/image_redtriangle.png);
  background-size: 100%;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'HelveticaRegular',arial;
}

.overlayCalendario a{
  color: #fff;
  font-family: 'HelveticaRegular',arial;
}



a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

.overlayNoticia h6{
  width: 80%;
  padding-top: 10px;
  margin: auto;
  text-align: right;
  font-size: 1em;
  font-family: 'HelveticaMedium',arial !important;
  color: #fff;
}

.contenedorCuadrosEstudiante .overlayNoticia h6{
	/*color: #000; */
}

.overlayNoticia p{
  width: 90%;
  padding: 5px 0px 5px 0px;
  margin: auto;
  text-align: justify;
  font-size: 0.8em;
  font-family: 'HelveticaLight',arial !important;
  color: #fff;
}


a.expand {
  text-decoration: none;
  display: block;
  z-index: 100;
  width: 30px;
  height: 30px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 40px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/*****************************************
 Efectos de centro de información
*/
.efectos-centro-info .overlayNoticia {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
.efectos-centro-info .overlayNoticia a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
.efectos-centro-info .imgNoticia.hoverNoticia .overlayNoticia {
  height: 100%;
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlayNoticia {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlayNoticia a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .imgNoticia.hoverNoticia .overlayNoticia {
  height: 100%;
}

.imgNoticia:hover .overlayNoticia {
  height: 100% !important
}

.imgNoticia .btn_noticia_more img{
  width: 20px;left: 44%;position: relative;
}

/* ============================================================
  EFFECT 3 - SLIDE IN LEFT
============================================================ */
#effect-3 .overlayCalendario {
  top: 50%;
  bottom: 0;
  left: 0;
  width: 0;
  height: 50%;
}
#effect-3 .overlayCalendario a.expand {
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto 0 auto -30px;
}

#effect-3 .imgNoticiaCalendario.hoverCalendario .overlayCalendario {
  width: 100%;
  bottom: 0;
}

#effect-3 .imgNoticiaCalendario2.hoverCalendario .overlayCalendario {
  width: 100%;
}

#effect-3 .imgNoticiaCalendario3.hoverCalendario .overlayCalendario {
  width: 100%;
}

#effect-3 .imgNoticiaCalendario4.hoverCalendario .overlayCalendario {
  width: 100%;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Oferta Academica

|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */


.overlayMenuBtn {
  display: block;
  position: relative;
  z-index: 5;
  background: url(../../images/nuevosArtes/oferta_educativa/facultad_pleca.png);
  background-size: 100% 100%;
  overflow: hidden;
  width: 100%;
  height: 500px;
  bottom: 0px;
  opacity: 0.9;
}



.text_btn_menu_oferta{
  position: absolute;
  bottom: 0;
  padding-left: 8%;
}

.text_btn_menu_oferta h6{
  font-family: 'HelveticaLight',arial;
  color:#FFF;
  margin-bottom: 0px;
}

.text_btn_menu_oferta p{
  font-size: 10px;
  font-family: 'HelveticaBold',arial;
  color:#FFF;
}

.text_btn_menu_oferta button{
  padding: 0px;
  margin-bottom: 0px;
  border: 0px;
  font-size: 15px;
  color: #fff;
  text-align: left;
  line-height: 13px;
}


.effects .imgMenuNavegacion {
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
}

.imgMenuNavegacion img{
  width: 100%;
}

@media only screen and (max-width: 1100px) {

  .effects .imgNoticia {
    width: 20%;
  }
  .destacada{
    width: 40% !important;
  }
}
@media only screen and (max-width: 520px) {
  .effects .imgNoticia {
    width: 100%;
    margin: auto !important;
    float: none;
  }

  .rest {
    width: 70%;
    margin: auto;
    padding-left: 0px;
  }
  .destacada{
    width: 100%  !important;
  }

  .effects .imgNoticia:nth-child(n) {
    margin-right: 0;
  }
  .effects .imgNoticia:first-child {
    margin-left: 0;
  }
  .effects .imgNoticia:nth-child(2n-1) {
    margin-left: 0;
  }
  .effects .imgNoticia:nth-child(2n) {
    margin-right: 0;
  }
  .effects .imgNoticia:last-child {
    margin-right: 0;
  }
  .effects .imgNoticia img {
    width: 100%;
  }
  .secondPart{
    display: none;
  }
}
.not-pinocho{width:50% !important;display:block;}
.cal-nuevo{
background:url(../../images/nuevosArtes/calendario/image_redtriangle.png) !important;
background-position:100%;
overflow:hidden;
  height:210px !important;
  width: 100% !important;
  font-size: 0.9em;
  position:absolute !important;
  top:26% !important;
}
.inner-triangulo{position: relative;top: 62%;left: 19%;width: 80%;}
.letras-blancas{
    color: #fff !important;
}
.fecha-cal{font-size:14px !important;}
.dia-cal{font-size:65px !important;}
.not-pinocho .date_event_calendario_responsive{margin-top:0 !important;padding-top: 25px;height: 173px;}
.not-pinocho .text_info_noticia_destacada_calendario_responsive{padding:17px 0px 0px 19px !important}
.enlaces-google{width:50%;position:relative;float:left}
.item-img-google{float:left;width:20%;height:auto;margin:3px;}
.d-pdf{width:25%;position:relative;float:left;margin:3px;font-size:9px;padding:0;}
.border-google{border-top:1px solid #fff;margin-top:4px;padding-top:8px;}
.link-rel{width:47% !important}
.bgazulm{background:url(../../images/nuevosArtes/oferta_educativa/bgazulm.png) !important;}
.bgazul{background:url(../../images/nuevosArtes/oferta_educativa/bgazul.png) !important;}
.bgamarillo{background:url(../../images/nuevosArtes/oferta_educativa/bgamarillo.png) !important;}
.bggris{background:url(../../images/nuevosArtes/oferta_educativa/bggris.png) !important;}
.bgverde{background:url(../../images/nuevosArtes/oferta_educativa/bgverde.png) !important;}
.bgazulf{background:url(../../images/nuevosArtes/oferta_educativa/bgazulf.png) !important;}
.bgrojo{background:url(../../images/nuevosArtes/oferta_educativa/bgrojo.png) !important;}
li.span3 h5,li.span3 h6{color:#fff !important}
.iconito-cal{
    position: absolute;
    bottom: 45px;
    width: 30px !important;
    right: 33px;
}
.excel td, .excel th{padding:4px;}
.opcion-licenciatura{float:left;padding:6px;margin:13px 0 12px 0;width:33%;color:#fff;font-size:14px;cursor:pointer;}
.lista-opciones{width: 53%;float: left;margin: 0px;}

#mosaico-oferta-educativa-prepa article:hover  .overlay-mosaico{display:inherit !important}
#mosaico-oferta-educativa article:hover  .overlay-mosaico{display:inherit !important}
.overlay-mosaico{
display:none;
  position: absolute;
  z-index: 5;
  background: rgba(243, 215, 3, 0.93);
  color:#fff;
  font-size:23px;
  background-size: 100%;
  overflow: hidden;
  width: 96%;
  height: 100%;
  max-height: 211px;
  text-align: left;
  font-family: 'HelveticaRegular',arial;
top:0;
padding-top:36%;
padding-left:6px;
text-align:center;
}
.tg  {border-collapse:collapse;border-spacing:0;width:82%;margin-top:10px;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;background:#3992e0}
.tg .tg-yw4l{vertical-align:top;color:#fff;text-align:center;}
